
:root{
    font-size: 20px;
  }
  body{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.7;
      color: #102770;
      background-color: #ffeba7;
      overflow-x: hidden;
  }
.container{
  margin-top: 60px;
  perspective: 800px;
  height: 200vh;
	perspective-origin: 50% 100px;
}
.cube{
  position: relative;
	width: 200px;
	transform-style: preserve-3d;
}
.cube div{
  position: absolute;
	width: 200px;
	height: 200px;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
  height: 200px;
  width: 200px;
  background: red;
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
  height: 200px;
  width: 200px;
  background: red;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
  height: 200px;
  width: 200px;
  background: red;
}
.front {
	transform: translateZ(100px);
  height: 200px;
  width: 200px;
  background: red;
}
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 15s infinite linear;
}